
<router-outlet><router-outlet />

  <div class="black">
    <h1> {{title}}</h1>
  </div>
  <div class="ash">
    <h2> {{name}} </h2>

    <button (click)="toggleHobbies()" class="btn"> get hobbies </button>
    <div *ngInf="showHobbies" class="component2">
      <h3>Hobbies:</h3>
      <ul>
        <li *ngFor="let hobby of hobbies"> {{hobby}} </li>
      </ul>
    <a href="{{webpage}}" target="_blank"> Visita mi sitio web </a>
  </div>
  <form (submit)="newHobby(hobby)">
    <input #hobby type="text" placeholder="Agrega un nuevo hobby">
  </form>
  <h1>Desde app.component</h1>
  <form (submit)="addUser(newUser)">
    <input type="text" #newUser>
    <button> Agregar Usuario</button>
  </form>
  <app-hello-world> Aqui</app-hello-world>
  <ul>
    <app-user *ngFor="let user of users" [nameUser]="user"></app-user> 
  </ul>
  <button (click)="sayHello()">click me</button>
<h1> Desde app.component</h1>
  <ul>
    <li *ngFor="let user of users">
      {{user}} <button (click)="deleteUser(user)">Borrar Usuario> </button>
    </li>
  <div class="black">
    <h1> {{title}}</h1>
  </div>